doctype html
html(lang='en')
    head 
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='Aman Ullah')
      link(rel='icon', href='img/icon.ico')
      title Ghughu-- About

      // Bootstrap core CSS
      link(href='../../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
      link(href='../../bower_components/slick-carousel/slick/slick.css', rel='stylesheet')
      link(href='../../bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
      link(href='css/main.css', rel='stylesheet')
      
    
      // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
      //if lt IE 9

      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')



     body


            .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
              .container
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='index.html')
                    img.logo(src='img/icon.png', alt='Logo')
                .collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li
                      a(href='index.html') Home
                    li.active
                      a(href='about.html') About
                    li
                      a(href='contact.html') Contact
                // .nav-collapse     




            // main-content Start
            #main-content
              



              section.about.gray-bg
                .about-title.double-padding.cover-bg.fixed-bg.dark-bg(style='background-image: url(img/background/bg17.jpg);')
                  .color_overlay
                  h1.text-center.h3  Pushing out limits to
                      br 
                      | provide the highest quality.
                  
                .container.single-padding
                  .row
                    .col-md-4
                      h3.padding About Us
                      h5 lorem ipsum text here  
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  commodo consequat.
                        br
                        br
                      ul.list-item
                        li Aliquam at porttitor sem
                        li Loremur adipiscing elit. dimentum sed.
                        li Cliquam erat volutpat
                        li Donec placerat nisl magna sed.
                      br
                      br
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud .
                      br
                        

                    

                    .col-md-8
                      .col-sm-6
                        ul.feat_list
                          li
                            i.fa.fa-modx  
                            h3 Our Vision
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore

                          li
                            i.fa.fa-mortar-board
                            h3 Our Mission
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore

                      .col-sm-6
                        ul.feat_list
                          li
                            i.fa.fa-paw 
                            h3 Strength
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore

                          li
                            i.fa.fa-pencil-square-o
                            h3 Objective
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore






              section.single-padding.bb-1
                .container
                  h3.padding Our Crews
                  .row
                    ul
                      // Member
                      li.col-md-6.member
                        article.text-left
                          .row

                            .col-md-6
                              img.img-responsive(src='img/team/1.jpg', alt='')
                            .col-md-6
                              h5 Janet Adams
                              span Human Resources
                              p
                                | Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. turpis vel hendrerit interdum, dui ligula ultricies puru
                              ul.social.list-inline
                                li
                                  a(href='#')
                                    i.fa.fa-facebook
                                li
                                  a(href='#')
                                    i.fa.fa-twitter
                                li
                                  a(href='#')
                                    i.fa.fa-google
                                li
                                  a(href='#')
                                    i.fa.fa-linkedin



                      // Member
                      li.col-md-6.member
                        article.text-left
                          .row

                            .col-md-6
                              img.img-responsive(src='img/team/2.jpg', alt='')
                            .col-md-6
                              h5 kate niggar
                              span Front-end Developer
                              p
                                | Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. turpis vel hendrerit interdum, dui ligula ultricies puru
                              ul.social.list-inline
                                li
                                  a(href='#')
                                    i.fa.fa-facebook
                                li
                                  a(href='#')
                                    i.fa.fa-twitter
                                li
                                  a(href='#')
                                    i.fa.fa-google
                                li
                                  a(href='#')
                                    i.fa.fa-linkedin





                      // Member
                      li.col-md-6.member
                        article.text-left
                          .row

                            .col-md-6
                              img.img-responsive(src='img/team/3.jpg', alt='')
                            .col-md-6
                              h5 Adams mia
                              span Graphic Designer
                              p
                                | Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. turpis vel hendrerit interdum, dui ligula ultricies puru
                              ul.social.list-inline
                                li
                                  a(href='#')
                                    i.fa.fa-facebook
                                li
                                  a(href='#')
                                    i.fa.fa-twitter
                                li
                                  a(href='#')
                                    i.fa.fa-google
                                li
                                  a(href='#')
                                    i.fa.fa-linkedin





                      // Member
                      li.col-md-6.member
                        article.text-left
                          .row

                            .col-md-6
                              img.img-responsive(src='img/team/4.jpg', alt='')
                            .col-md-6
                              h5 Sara Angel
                              span Product Manager
                              p
                                | Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. turpis vel hendrerit interdum, dui ligula ultricies puru
                              ul.social.list-inline
                                li
                                  a(href='#')
                                    i.fa.fa-facebook
                                li
                                  a(href='#')
                                    i.fa.fa-twitter
                                li
                                  a(href='#')
                                    i.fa.fa-google
                                li
                                  a(href='#')
                                    i.fa.fa-linkedin





                      // Member
                      li.col-md-6.member
                        article.text-left
                          .row

                            .col-md-6
                              img.img-responsive(src='img/team/5.jpg', alt='')
                            .col-md-6
                              h5 Janet mia
                              span Marketing manager
                              p
                                | Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. turpis vel hendrerit interdum, dui ligula ultricies puru
                              ul.social.list-inline
                                li
                                  a(href='#')
                                    i.fa.fa-facebook
                                li
                                  a(href='#')
                                    i.fa.fa-twitter
                                li
                                  a(href='#')
                                    i.fa.fa-google
                                li
                                  a(href='#')
                                    i.fa.fa-linkedin





                      // Member
                      li.col-md-6.member
                        article.text-left
                          .row

                            .col-md-6
                              img.img-responsive(src='img/team/6.jpg', alt='')
                            .col-md-6
                              h5 Ussain Bolt
                              span Front-end Developer
                              p
                                | Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. turpis vel hendrerit interdum, dui ligula ultricies puru
                              ul.social.list-inline
                                li
                                  a(href='#')
                                    i.fa.fa-facebook
                                li
                                  a(href='#')
                                    i.fa.fa-twitter
                                li
                                  a(href='#')
                                    i.fa.fa-google
                                li
                                  a(href='#')
                                    i.fa.fa-linkedin





                      // Member
                      li.col-md-6.member
                        article.text-left
                          .row

                            .col-md-6
                              img.img-responsive(src='img/team/7.jpg', alt='')
                            .col-md-6
                              h5 Sayma Salek
                              span Project Manager
                              p
                                | Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. turpis vel hendrerit interdum, dui ligula ultricies puru
                              ul.social.list-inline
                                li
                                  a(href='#')
                                    i.fa.fa-facebook
                                li
                                  a(href='#')
                                    i.fa.fa-twitter
                                li
                                  a(href='#')
                                    i.fa.fa-google
                                li
                                  a(href='#')
                                    i.fa.fa-linkedin











              section.cta-3.text-center.single-padding
                .container
                  .row
                    .col-md-12
                      h3.text-uppercase WE WORK BETTER. FASTER. TOGETHER.
                      p.italic Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .
                      a.btn.btn-primary.mar-top-1(href='#') Try Our Services
              // cta-3 call to action  end

              // footer
              footer.footer.bg-color1.padding.dark-bg
                .container
                  .row
                    .col-md-4.copyright
                      a(href='#')
                        img.logo(src='img/icon.png', alt='Footer logo')
                      span
                        | © 2015 Ghughu
                        br
                        |         Designed by 
                        a.home(href='http://theaman.co/', target='_blank') TheAman.co
                    .col-md-8.text-right
                      ul.soc-list
                        li
                          a.fa.fa-facebook.facebook(href='#', target='_blank')
                        li
                          a.fa.fa-twitter.twitter(href='#', target='_blank')
                        li
                          a.fa.fa-dribbble.dribbble(href='#', target='_blank')
                        li
                          a.fa.fa-behance.behance(href='#', target='_blank')
                        li
                          a.fa.fa-google-plus.google-plus(href='#', target='_blank')
                        li
                          a.fa.fa-linkedin.linkedin(href='#', target='_blank')
                        li
                          a.fa.fa-instagram.instagram(href='#', target='_blank')
                        li
                          a.fa.fa-pinterest.pinterest(href='#', target='_blank')
                        li
                          a.fa.fa-flickr.flickr(href='#', target='_blank')
              // footer end
            
            // main-content End  

          

            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
            script.
              window.jQuery || document.write('<script src="../../bower_components/bootstrap/dist/jquery.min.js"><\\/script>')
            script(src='../../bower_components/bootstrap/dist/js/bootstrap.min.js')
            script(src='../../bower_components/slick-carousel/slick/slick.min.js')
            script(src='js/main.js')


